---
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import TechCarousel from "../components/TechCarousel.astro";
import ProjectCarousel from "../components/ProjectCarousel.astro";
import Footer from "../components/Footer.astro";
import ContactForm from "../components/Contact.astro";
---

<Layout>
	<div class="overflow-x-hidden">
		<Hero />
		<TechCarousel />
		<ProjectCarousel />
		<ContactForm />
		<Footer />
	</div>
</Layout>
